/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login {
  /* background-image: url("./loginbackground.png"); */
  /* background-size: cover; */
  background-color: #e8e3de;
}
.banner {
  /* background-image: url("./mochiWallpaper.jpeg");gs */
  background-repeat: no-repeat;
  background-size: cover;
}
.button {
  border-color: #62473a;
  border-width: medium;
  color: #62473a;
}

.button:hover {
  background-color: #62473a;
  color: #e8e3de;
}
